# See https://github.com/giggio/node-chromedriver#versioning
# Uncomment the following option to use the latest available chromedriver version  
#chromedriver_version=LATEST

# See https://github.com/giggio/node-chromedriver#detect-chromedriver-version
# Uncomment the following option to use the chromedriver that correspond to the chrome version installed
detect_chromedriver_version=true
